@model IEnumerable<Data.SillyInsultCR>
@{

    ViewBag.Title = "Home Page";

    //List<Data.SillyInsultCR> listofinsults = (List<Data.SillyInsultCR>)ViewData["insultlist"];
}

<div class="jumbotron">
    <h1>Silly Insults</h1>
    <p class="lead">This is a website for generating silly insults, sort of like mad libs</p>

</div>

<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                <input type="submit" value="generate a random insult" class="btn btn-default" />

                @ViewBag.randomadj
                @ViewBag.randomnoun
                @ViewBag.randomtitle
                @ViewBag.disp
                <br />
            </div>
        }




    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
@{Html.RenderAction("ListInsults", Model);}